@page
@using Chess.Pages.model;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>@ChessGame.pieces.Count</h3>
</div>
<table>
    
    @for (int row = 0; row < 8; row++)
    {
        <tr>
            @for (int col = 0; col < 8; col++)
            {
                    
                

                   
                <td style="width:50px;height:50px;background-color:@(Model.board[row, col] == 0 ? "#B58863" : "#F0D9B5")">

                    <form method="post">

                        <button style="width:50px;height:50px; background: transparent;
    border: none !important;
    font-size:0; " name="position" value=@row,@col>
                            @foreach (Piece p in ChessGame.pieces)
                            {
                                if (p.chessPiecePosition.Key == row && p.chessPiecePosition.Value == col)
                                {



                                    <img src=" @p.PieceImageSource" alt="piece image" />









                                }

                            }

                    </button>

                    </form>


                  



                        
                       
                    
                    
                    
                </td>
                
                
            }
        </tr>
    }
</table>
